<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.SeoilClient">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/custom"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.SeoilClient.setting4"></activity>
        <activity android:name="com.example.SeoilClient.setting3" />
        <activity android:name="com.example.SeoilClient.setting0" />
        <activity android:name="com.example.SeoilClient.setting2" />
        <activity android:name="com.example.SeoilClient.setting1" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7114yWcDn2YguurcFT0Qd0NvjIQy8LFc" />

        <activity
            android:name="com.example.SeoilClient.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.SeoilClient.myeonmogActivity" />
        <activity android:name="com.example.SeoilClient.mangwuActivity" />
        <activity android:name="com.example.SeoilClient.mangwubaechaActivity" />
        <activity android:name="com.example.SeoilClient.myeonmogbaechaActivity" />
        <activity
            android:name="com.example.SeoilClient.splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>